*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 12.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e1e1e1;
  font-family: 'Alata' , sans-serif;
  -webkit-box-shadow: -3px 3px 9px 1px #000;
          box-shadow: -3px 3px 9px 1px #000;
  z-index: 1000;
}

header div.log {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.log img {
  width: 90%;
}

header nav {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  height: 4vh;
}

header nav ul li {
  width: 100%;
  height: 100%;
  margin: 0 7px;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header nav ul li.active {
  border-bottom: 2.5px solid #c4312a;
}

header nav ul li a {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #292929;
}

header nav ul li a:hover {
  color: #727272;
}

header nav i {
  font-size: 30px;
  margin: 0 15px;
}

header nav .animation-icon {
  -webkit-animation: headShake;
          animation: headShake;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}

header nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 85px;
}

header nav form input {
  width: 250px;
  height: 60px;
  padding-left: 15px;
  font-family: 'Alata' , sans-serif;
  font-size: 20px;
  border-radius: 60px;
  border: 1px solid #c4312a;
  -webkit-box-shadow: 1px 1px 4px 0 #000;
          box-shadow: 1px 1px 4px 0 #000;
}

header nav form input:focus {
  outline: none;
}

header nav form input:focus ~ label {
  opacity: 0;
}

header nav form input:valid ~ label {
  opacity: 0;
}

header nav form label {
  position: absolute;
  left: 15px;
  color: #646464;
  cursor: text;
  opacity: 1;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

header div.log-in {
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div.log-in .fas.fa-user {
  font-size: 35px;
  cursor: pointer;
}

header div.box-log-in {
  position: absolute;
  right: 0;
  top: 13vh;
  width: 270px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #c4312a;
  border-radius: 25px;
  background-color: white;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: -webkit-transform .25s linear;
  transition: -webkit-transform .25s linear;
  transition: transform .25s linear;
  transition: transform .25s linear, -webkit-transform .25s linear;
}

header div.box-log-in.mover-log-in {
  -webkit-transform: translate(0);
          transform: translate(0);
}

header div.box-log-in span {
  margin: 15px 0 0 0;
  font-size: 22px;
}

header div.box-log-in form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.box-log-in form div {
  margin: 30px 0 0 0;
  width: 70%;
  position: relative;
}

header div.box-log-in form div:last-child {
  margin-bottom: 30px;
}

header div.box-log-in form div input {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  padding-left: 15px;
  border: none;
  border-bottom: 2px solid #c4312a;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px 0 #000;
          box-shadow: 1px 1px 4px 0 #000;
}

header div.box-log-in form div input:focus {
  outline: none;
  border: 2px solid #c4312a;
}

header div.box-log-in form div input:focus ~ label,
header div.box-log-in form div input:valid ~ label {
  top: -27px;
  left: 5px;
  font-size: 15px;
  color: #57b7d8;
}

header div.box-log-in form div label {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #969696;
  cursor: text;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

header div.box-log-in a {
  margin: 15px 0;
}
/*# sourceMappingURL=default.css.map */