* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  padding-top: 12vh;
}

section {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 15px;
  padding-top: 30px;
  -webkit-box-shadow: -3px 3px 9px 1px #000 inset;
          box-shadow: -3px 3px 9px 1px #000 inset;
  background-color: #cfcfcf;
}

section .box {
  width: 50%;
  height: 17vh;
  border-bottom: 2.5px solid #2f2f2f;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 10px;
  margin: 1em 0;
  -webkit-box-shadow: 1px 1px 3px 0px #151515;
          box-shadow: 1px 1px 3px 0px #151515;
}

section .box .logo {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .box .logo img {
  height: 100%;
}

section .box .title {
  height: 100%;
  width: 55%;
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .box .title .title_shop {
  width: 100%;
  height: 75%;
  font-size: 5vmin;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .box .title .title_shop img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

section .box .title .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 25%;
}

section .box .title .tags div {
  border: 2px solid #c4312a;
  border-radius: 10px;
  padding: 4px;
  margin: 0 5px;
  cursor: pointer;
}

section .box .title .tags div:first-child {
  margin-left: 25px;
}

section .box .title .tags div:hover {
  background-color: #c4312a;
}

section .box .title .tags div:hover span {
  color: #fff;
}

section .box .title .tags div span {
  font-weight: 200;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1vmin;
}

section .box .agg {
  width: 15%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .box .agg .tooltip {
  text-decoration: none;
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 20px;
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .box .agg .tooltip:hover span {
  display: block;
  position: fixed;
  overflow: hidden;
}

section .box .agg i {
  font-size: 25px;
  cursor: pointer;
}

section .box .agg span {
  display: none;
}
/*# sourceMappingURL=index.css.map */