*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

$color-primary: rgb(52, 114, 93);
body{
    overflow-x: hidden;
    padding-top: 12vh;
}

section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-top: 30px;
    box-shadow: -3px 3px 9px 1px #000 inset ;
    background-color: rgb(207, 207, 207);

    .box{
        width: 70%;
        height: 17vh;
        border: 4px solid $color-primary;
        border-radius: 15px;
        display: flex;
        padding: 15px 10px;
        margin: 1em 0;
        .logo{
            height: 100%;
            width: 20%;
            display: flex;
            justify-content: center;
            img{
                height: 100%;
            }
        }
        .title_tags{
            height: 100%;
            width: 55%;
            margin: 0 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .img-1{
                width: 100%;
                height: 75%;
                font-size: 60px;
                font-weight: 900;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            .img-2{
                width: 70%;
                height: 75%;
                display: flex;
                align-items: center;
                img{
                    height: 45%;
                    width: 100%;
                }
            }
            .tags{
                display: flex;
                align-items: flex-end;
                height: 25%;
                
                div{
                    border: 2px solid $color-primary ;
                    border-radius: 10px;
                    padding: 4px;
                    margin: 0 5px;
                    cursor: pointer;

                    &:first-child{
                        margin-left: 25px;
                    }
                    &:hover{
                        background-color: $color-primary;
                        span{
                            color:#fff;
                        }
                    }
                    span{
                        font-weight: 200;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 13px;
                        
                    }
                }
            }
        }
        .agg{
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            i{
                font-size: 40px;
                cursor: pointer;
            }
        }
    }
}